*{
  background-color: white;
}
.left{
    height:80vh;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left h1{
    font-size:84px;
}
.left p{
    font-size:28px;
}
.left h1 span{
    color:blue;
}
.right{
    height:100%;
    width:50%;
}
.left-right{
    height:100%;
    width:100%;
    display:flex;
}
.getstartedbutton{
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position:relative;
    bottom:-20px;
  }
  
  .getstartedbutton:disabled {
    pointer-events: none;
  }
  
  .getstartedbutton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .getstartedbutton:active {
    box-shadow: none;
    transform: translateY(0);
  }

.getstartedbutton a{
  text-decoration: none;
  background-color: none;
}